<div class='container mt-4 d-flex justify-content-center'>
  <div class='card text-center' style='width: 25rem;'>
    <h1>URL Shortener</h1>
    <div>
      <img style='width:200px'
        src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
        class="card-img-top" />
    </div>
    <div class='card-body'>
      {{#if shortUrl}}
      <h3 class='card-title'>Success!Please use this link:</h3>
      <a href='{{origin}}/{{shortUrl}}' id='url_text'>
        {{origin}}/{{shortUrl}}
      </a>
      <div>
        <button class='btn btn-primary' onClick='copyUrl()'>
          copy
        </button>
      </div>
      {{else}}
      <form action="/" method="POST">
        <div class="input-group mb-3">
          <input type="text" placeholder="Input URL here" name="url" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Shorten</button>
        </div>
        {{#if message}}
        <div class="text-danger">{{message}}</div>
        {{/if}}
      </form>
      {{/if}}
    </div>
  </div>

</div>